name: Action CI

on:
  pull_request_target:
    types:
      - opened
    branches: [master, main]
  push:
    branches: [master, main]

jobs:

  build:
 
    runs-on: ubuntu-latest
 
    steps:
    - uses: actions/checkout@master
    - name: Verify action syntax 
      # The action should not publish any real changes, but should succeed.
      uses: './'
      with:
        github_token: '${{ secrets.GITHUB_TOKEN }}'
        branch: '${{ github.ref }}'
